---
import Layout from "@/layouts/Layout.astro";
import TimelineComponent from "@/components/Timeline";
import Footer from "@/components/Footer.astro";
const id = Astro.url.searchParams.get("id") ?? "";
---

<Layout>
    <div class="p-4 mt-8">
        <TimelineComponent timelineId={id} timelineName={id} client:load />
    </div>
    <Footer />
</Layout>
